* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: Roboto;
}
body {
  background-color: #f9f9f9;
}
.logo {
  display: flex;
  gap: 8px;
  font-size: 22px;
  font-weight: bold;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 14px;
  height: 76px;
}
.link_header {
  display: flex;
  gap: 60px;
  font-size: 18px;
  font-weight: bold;
}
.link_header li a {
  color: black;
}

.collaboration {
  display: flex;
  align-items: center;
  width: 98%;
}
.img {
  width: 50%;
}
.img img {
  width: 100%;
}
.text {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.head_text span {
  font-size: 70px;
  font-weight: bold;
}
.head_text p {
  font-weight: 500;
  font-size: 24px;
  margin-top: 4px;
  opacity: 0.5;
}
.head_text button {
  background-color: #71a894;
  color: white;
  border-radius: 8px;
  width: 220px;
  height: 64px;
  border: none;
  font-size: 18px;
  font-weight: bold;
  margin-top: 12px;
}

.text_box {
  width: 100%;
  height: 184px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text_box h3 {
  font-size: 48px;
  font-weight: bold;
}
.text_box p {
  /* width: 896px; */
  width: 50%;
  margin-top: 12px;
}
.box {
  width: 98%;
}
.card {
  width: 100%;
  /* height: 340px; */
  display: flex;
  justify-content: space-between;
}
.cards {
  width: 30%;
  /* height: 340px; */
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.founder_members {
  /* width: 0%; */
  display: flex;
  justify-content: space-between;
  /* margin: 100px 0px 0px 40px; */
}
.founders {
  width: 50%;
  /* height: 344px; */
  /* margin-right: 64px; */
}
.founders h3 {
  font-size: 48px;
  font-weight: bold;
  margin-top: 6px;
}
.founders p {
  font-size: 18px;
  margin-top: 6px;
  text-align: justify;
}
.members {
  width: 30%;
  height: 350px;
  padding: 16px;
  border: 4px solid black;
  border-radius: 16px;
  overflow: hidden;
  margin-right: 28px;
}
.members h3 {
  font-size: 32px;
  font-weight: bold;
}
.members_ {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 8px;
  padding: 8px;
}
.member_about span {
  font-size: 24px;
  font-style: italic;
  font-weight: 100;
}
.member_about p {
  margin-right: 24px;
  font-weight: bold;
  color: #66645e;
  opacity: 0.8;
}
.users {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* margin-top: 100px; */
}
.investor {
  width: 30%;
  /* height: 380px; */
  border: 4px solid black;
  border-radius: 16px;
  padding: 12px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.inv {
  display: flex;
  gap: 16px;
  margin-left: 12px;
  align-items: center;
  margin-bottom: 14px;
}
.inv_about span {
  font-size: 16;
  font-style: italic;
  opacity: 0.5;
  color: #66645e;
  /* margin-left: 12px; */
}
.contact {
  margin-left: 12px;
}
.contact_p {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 50px;
}
.commit_share {
  display: flex;
  gap: 150px;
}
.commit_share span {
  font-size: 16;
  color: #66645e;
}
.commit_share p {
  font-size: 24px;
  margin-top: 16px;
  font-weight: 500;
}
.contact button {
  width: 100%;
  height: 56px;
  font-size: 24px;
  border-radius: 16px;
  background-color: black;
  color: white;
  margin: auto;
  margin-top: 30px;
}
.engage {
  display: flex;
  width: 97%;
  height: 400px;
  margin: 100px 0 0 40px;
  gap: 10px;
}

.mixed {
  width: 41%;
  height: 140px;
  display: flex;
  flex-wrap: wrap;
  border: 4px solid black;
  border-radius: 16px;
  gap: 6px;
}
.share {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 14px 14px 30px 14px;
}
.share h3 {
  font-size: 18px;
  font-weight: bold;
}
.share span {
  width: 80px;
  height: 32px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 2px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #71a894;
  color: white;
}
.share p {
  width: 404px;
  height: 48px;
  font-size: 16px;
  margin-top: 16px;
}
.applicants {
  width: 350px;
  border: 4px solid black;
  border-radius: 16px;
  padding: 6px;
}
.applicants h3 {
  font-size: 24px;
  font-weight: bold;
  margin: 20px;
}
.user_profile {
  width: 240px;
  height: 288px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  border: 4px solid #71a894;
  border-radius: 16px;
}
.user_profile img {
  width: 72px;
  height: 72px;
  border-radius: 50%;
}
.user_profile h2 {
  font-size: 20px;
  font-weight: bold;
}
.user_profile span {
  font-size: 16px;
  font-weight: 500;
  color: #66645e;
}
.user_profile p {
  margin-right: 120px;
  margin-top: 10px;
}
.user_profile button {
  width: 192px;
  height: 44px;
  background-color: black;
  color: white;
  border-radius: 16px;
  font-size: 16px;
  margin-top: 8px;
}
.applicant_users {
  display: flex;
  gap: 12px;
  align-items: center;
  margin: 20px;
}
.applicant_users img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.applicant_users span {
  font-size: 20px;
  font-weight: 100;
  font-style: italic;
}
.helpus {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.faqs {
  display: flex;
  gap: 20px;
}
.faq_box {
  /* width: 426px; */
  height: 216px;
  border-radius: 16px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  padding: 16px;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.faq_box h3 {
  font-size: 18px;
  padding: 2px;
  font-weight: bold;
}
.faq_box p {
  font-size: 16px;
  font-weight: 500;
}
.faq_date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.faq_date span {
  width: 68px;
  height: 32px;
  border-radius: 40px;
  background-color: #71a894;
  font-size: 16px;
  font-weight: 500;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.faq_date p {
  font-size: 16px;
  font-style: italic;
  font-weight: 100;
}
.helpus button {
  width: 134px;
  height: 64px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  background-color: black;
  color: white;
  margin-top: 30px;
}
.Divider {
  margin: 30px 0px 30px 0px;
}
footer {
  width: 100%;
  height: 44px;
}
.contacts_footer {
  display: flex;
  justify-content: space-between;
  margin: 0 40px;
}
.social_media_list {
  display: flex;
  gap: 38px;
}
.social_media_list li a {
  color: black;
  font-size: 20px;
  font-weight: 500;
}
/* section {
  margin-left: 30px;
} */

.mobile {
  display: flex;
}
/* <!-- 
 Mobile Devices: 319px — 480px
iPads and Tablets: 481px — 1200px
 Laptops: 1201px — 1600px
 Desktops: 1601px and more
--> */

@media (min-width: 1100px) {
  .mobile {
    display: none;
  }
}

@media (min-width: 319px) and (max-width: 1024px) {
  .mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
  }
  header {
    width: 100%;
  }
  .head {
    display: none;
  }
  .logo img {
    display: none;
  }
  header hr {
    display: none;
  }
  .logo h1 {
    display: none;
  }
  .link {
    display: none;
  }
  .collaboration {
    flex-direction: column-reverse;
    width: 100%;
    margin-top: 50px;
    padding: 12px;
  }
  .text {
    text-align: center;
  }
  .head_text span {
    font-size: 30px;
  }
  .img {
    width: 100%;
  }
  .head_text p {
    font-size: 16px;
  }
  .box {
    margin-top: 100px;
    padding: 12px;
  }
  .text_box {
    margin: 20px 0;
  }
  .text_box h3 {
    font-size: 30px;
  }
  .text_box p {
    font-size: 18px;
    width: 100%;
    padding: 4px;
    margin-bottom: 32px;
  }
  .card {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .cards {
    width: 100%;
    padding: 20px;
  }
  .founder_members {
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    text-align: center;
    gap: 30px;
  }
  .founders {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
  .founders h3 {
    font-size: 30px;
    text-align: center;
  }
  .members {
    width: 100%;
    padding: 4px;
  }

  .users {
    flex-direction: column;
    padding: 12px;
  }
  .investor {
    width: 100%;
  }
  .engage {
    display: none;
  }
  .faqs {
    flex-direction: column;
  }
  .helpus {
    padding: 12px;
  }

  .Divider img {
    width: 100%;
  }
  .contacts_footer,
  .social_media_list li a {
    font-size: 16px;
    justify-content: space-between;
  }
}
